/* 
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

q,
blockquote {
  quotes: none;
}

q:before, q:after,
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.child, .container {
  flex: 1;
}

@media (min-width: tablet) {
  .child.mobile-is-1, .mobile-is-1.container {
    flex: 1;
  }
  .child.mobile-is-1:only-child, .mobile-is-1.container:only-child {
    width: 100%;
    height: calc(1 / 12 * 100%);
    flex: none;
  }
  .child.mobile-is-2, .mobile-is-2.container {
    flex: 2;
  }
  .child.mobile-is-2:only-child, .mobile-is-2.container:only-child {
    width: 100%;
    height: calc(2 / 12 * 100%);
    flex: none;
  }
  .child.mobile-is-3, .mobile-is-3.container {
    flex: 3;
  }
  .child.mobile-is-3:only-child, .mobile-is-3.container:only-child {
    width: 100%;
    height: calc(3 / 12 * 100%);
    flex: none;
  }
  .child.mobile-is-4, .mobile-is-4.container {
    flex: 4;
  }
  .child.mobile-is-4:only-child, .mobile-is-4.container:only-child {
    width: 100%;
    height: calc(4 / 12 * 100%);
    flex: none;
  }
  .child.mobile-is-5, .mobile-is-5.container {
    flex: 5;
  }
  .child.mobile-is-5:only-child, .mobile-is-5.container:only-child {
    width: 100%;
    height: calc(5 / 12 * 100%);
    flex: none;
  }
  .child.mobile-is-6, .mobile-is-6.container {
    flex: 6;
  }
  .child.mobile-is-6:only-child, .mobile-is-6.container:only-child {
    width: 100%;
    height: calc(6 / 12 * 100%);
    flex: none;
  }
  .child.mobile-is-7, .mobile-is-7.container {
    flex: 7;
  }
  .child.mobile-is-7:only-child, .mobile-is-7.container:only-child {
    width: 100%;
    height: calc(7 / 12 * 100%);
    flex: none;
  }
  .child.mobile-is-8, .mobile-is-8.container {
    flex: 8;
  }
  .child.mobile-is-8:only-child, .mobile-is-8.container:only-child {
    width: 100%;
    height: calc(8 / 12 * 100%);
    flex: none;
  }
  .child.mobile-is-9, .mobile-is-9.container {
    flex: 9;
  }
  .child.mobile-is-9:only-child, .mobile-is-9.container:only-child {
    width: 100%;
    height: calc(9 / 12 * 100%);
    flex: none;
  }
  .child.mobile-is-10, .mobile-is-10.container {
    flex: 10;
  }
  .child.mobile-is-10:only-child, .mobile-is-10.container:only-child {
    width: 100%;
    height: calc(10 / 12 * 100%);
    flex: none;
  }
  .child.mobile-is-11, .mobile-is-11.container {
    flex: 11;
  }
  .child.mobile-is-11:only-child, .mobile-is-11.container:only-child {
    width: 100%;
    height: calc(11 / 12 * 100%);
    flex: none;
  }
  .child.mobile-is-12, .mobile-is-12.container {
    flex: 12;
  }
  .child.mobile-is-12:only-child, .mobile-is-12.container:only-child {
    width: 100%;
    height: calc(12 / 12 * 100%);
    flex: none;
  }
  .child.mobile-is-fixed, .mobile-is-fixed.container {
    flex: none;
  }
  .child.mobile-is-full, .mobile-is-full.container {
    width: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: tablet) {
  .container.mobile-is-row {
    flex-direction: row;
  }
}

@media (min-width: tablet) and (min-width: tablet) {
  .container.mobile-is-row > .child.mobile-is-1:only-child, .container.mobile-is-row > .mobile-is-1.container:only-child {
    width: calc(1 / 12 * 100%);
    height: 100%;
    flex: none;
  }
  .container.mobile-is-row > .child.mobile-is-2:only-child, .container.mobile-is-row > .mobile-is-2.container:only-child {
    width: calc(2 / 12 * 100%);
    height: 100%;
    flex: none;
  }
  .container.mobile-is-row > .child.mobile-is-3:only-child, .container.mobile-is-row > .mobile-is-3.container:only-child {
    width: calc(3 / 12 * 100%);
    height: 100%;
    flex: none;
  }
  .container.mobile-is-row > .child.mobile-is-4:only-child, .container.mobile-is-row > .mobile-is-4.container:only-child {
    width: calc(4 / 12 * 100%);
    height: 100%;
    flex: none;
  }
  .container.mobile-is-row > .child.mobile-is-5:only-child, .container.mobile-is-row > .mobile-is-5.container:only-child {
    width: calc(5 / 12 * 100%);
    height: 100%;
    flex: none;
  }
  .container.mobile-is-row > .child.mobile-is-6:only-child, .container.mobile-is-row > .mobile-is-6.container:only-child {
    width: calc(6 / 12 * 100%);
    height: 100%;
    flex: none;
  }
  .container.mobile-is-row > .child.mobile-is-7:only-child, .container.mobile-is-row > .mobile-is-7.container:only-child {
    width: calc(7 / 12 * 100%);
    height: 100%;
    flex: none;
  }
  .container.mobile-is-row > .child.mobile-is-8:only-child, .container.mobile-is-row > .mobile-is-8.container:only-child {
    width: calc(8 / 12 * 100%);
    height: 100%;
    flex: none;
  }
  .container.mobile-is-row > .child.mobile-is-9:only-child, .container.mobile-is-row > .mobile-is-9.container:only-child {
    width: calc(9 / 12 * 100%);
    height: 100%;
    flex: none;
  }
  .container.mobile-is-row > .child.mobile-is-10:only-child, .container.mobile-is-row > .mobile-is-10.container:only-child {
    width: calc(10 / 12 * 100%);
    height: 100%;
    flex: none;
  }
  .container.mobile-is-row > .child.mobile-is-11:only-child, .container.mobile-is-row > .mobile-is-11.container:only-child {
    width: calc(11 / 12 * 100%);
    height: 100%;
    flex: none;
  }
  .container.mobile-is-row > .child.mobile-is-12:only-child, .container.mobile-is-row > .mobile-is-12.container:only-child {
    width: calc(12 / 12 * 100%);
    height: 100%;
    flex: none;
  }
}

@media (min-width: tablet) {
  .container.mobile-is-row > .child.mobile-is-full, .container.mobile-is-row > .mobile-is-full.container {
    height: 100%;
  }
  .container.mobile-is-row > .child.tablet-is-full, .container.mobile-is-row > .tablet-is-full.container {
    height: 100%;
  }
  .container.mobile-is-row > .child.desktop-is-full, .container.mobile-is-row > .desktop-is-full.container {
    height: 100%;
  }
  .container.mobile-is-row > .child.big-desktop-is-full, .container.mobile-is-row > .big-desktop-is-full.container {
    height: 100%;
  }
  .container.mobile-is-row.mobile-child-right {
    justify-content: flex-end;
  }
  .container.mobile-is-row.mobile-child-left {
    justify-content: flex-start;
  }
  .container.mobile-is-row.tablet-child-right {
    justify-content: flex-end;
  }
  .container.mobile-is-row.tablet-child-left {
    justify-content: flex-start;
  }
  .container.mobile-is-row.desktop-child-right {
    justify-content: flex-end;
  }
  .container.mobile-is-row.desktop-child-left {
    justify-content: flex-start;
  }
  .container.mobile-is-row.big-desktop-child-right {
    justify-content: flex-end;
  }
  .container.mobile-is-row.big-desktop-child-left {
    justify-content: flex-start;
  }
  .container.mobile-is-column {
    flex-direction: column;
  }
}

@media (min-width: tablet) and (min-width: tablet) {
  .container.mobile-is-column > .child.mobile-is-1:only-child, .container.mobile-is-column > .mobile-is-1.container:only-child {
    width: 100%;
    height: calc(1 / 12 * 100%);
    flex: none;
  }
  .container.mobile-is-column > .child.mobile-is-2:only-child, .container.mobile-is-column > .mobile-is-2.container:only-child {
    width: 100%;
    height: calc(2 / 12 * 100%);
    flex: none;
  }
  .container.mobile-is-column > .child.mobile-is-3:only-child, .container.mobile-is-column > .mobile-is-3.container:only-child {
    width: 100%;
    height: calc(3 / 12 * 100%);
    flex: none;
  }
  .container.mobile-is-column > .child.mobile-is-4:only-child, .container.mobile-is-column > .mobile-is-4.container:only-child {
    width: 100%;
    height: calc(4 / 12 * 100%);
    flex: none;
  }
  .container.mobile-is-column > .child.mobile-is-5:only-child, .container.mobile-is-column > .mobile-is-5.container:only-child {
    width: 100%;
    height: calc(5 / 12 * 100%);
    flex: none;
  }
  .container.mobile-is-column > .child.mobile-is-6:only-child, .container.mobile-is-column > .mobile-is-6.container:only-child {
    width: 100%;
    height: calc(6 / 12 * 100%);
    flex: none;
  }
  .container.mobile-is-column > .child.mobile-is-7:only-child, .container.mobile-is-column > .mobile-is-7.container:only-child {
    width: 100%;
    height: calc(7 / 12 * 100%);
    flex: none;
  }
  .container.mobile-is-column > .child.mobile-is-8:only-child, .container.mobile-is-column > .mobile-is-8.container:only-child {
    width: 100%;
    height: calc(8 / 12 * 100%);
    flex: none;
  }
  .container.mobile-is-column > .child.mobile-is-9:only-child, .container.mobile-is-column > .mobile-is-9.container:only-child {
    width: 100%;
    height: calc(9 / 12 * 100%);
    flex: none;
  }
  .container.mobile-is-column > .child.mobile-is-10:only-child, .container.mobile-is-column > .mobile-is-10.container:only-child {
    width: 100%;
    height: calc(10 / 12 * 100%);
    flex: none;
  }
  .container.mobile-is-column > .child.mobile-is-11:only-child, .container.mobile-is-column > .mobile-is-11.container:only-child {
    width: 100%;
    height: calc(11 / 12 * 100%);
    flex: none;
  }
  .container.mobile-is-column > .child.mobile-is-12:only-child, .container.mobile-is-column > .mobile-is-12.container:only-child {
    width: 100%;
    height: calc(12 / 12 * 100%);
    flex: none;
  }
}

@media (min-width: tablet) {
  .container.mobile-is-column > .child.mobile-is-full, .container.mobile-is-column > .mobile-is-full.container {
    width: 100%;
  }
  .container.mobile-is-column > .child.tablet-is-full, .container.mobile-is-column > .tablet-is-full.container {
    width: 100%;
  }
  .container.mobile-is-column > .child.desktop-is-full, .container.mobile-is-column > .desktop-is-full.container {
    width: 100%;
  }
  .container.mobile-is-column > .child.big-desktop-is-full, .container.mobile-is-column > .big-desktop-is-full.container {
    width: 100%;
  }
  .container.mobile-is-column.mobile-child-bottom {
    align-items: flex-end;
  }
  .container.mobile-is-column.mobile-child-top {
    align-items: flex-start;
  }
  .container.mobile-is-column.tablet-child-bottom {
    align-items: flex-end;
  }
  .container.mobile-is-column.tablet-child-top {
    align-items: flex-start;
  }
  .container.mobile-is-column.desktop-child-bottom {
    align-items: flex-end;
  }
  .container.mobile-is-column.desktop-child-top {
    align-items: flex-start;
  }
  .container.mobile-is-column.big-desktop-child-bottom {
    align-items: flex-end;
  }
  .container.mobile-is-column.big-desktop-child-top {
    align-items: flex-start;
  }
  .container.mobile-is-full {
    height: 100%;
  }
  .container.mobile-child-centered {
    align-items: center;
    justify-content: center;
  }
  .container.mobile-child-right {
    align-items: flex-end;
  }
  .container.mobile-child-left {
    align-items: flex-start;
  }
  .container.mobile-child-bottom {
    justify-content: flex-end;
  }
  .container.mobile-child-top {
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=kCSS.css.map */