/* 
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

q,
blockquote {
  quotes: none; }
  q:before, q:after,
  blockquote:before,
  blockquote:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  height: 100vh; }

.child, .container {
  box-sizing: border-box;
  flex: 1; }

.container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-direction: column; }
  .container.has-child-left {
    justify-content: flex-start; }
  @media (min-width: 0) {
    .container.mobile-is-row, .container.m-is-row {
      flex-direction: row; }
    .container.mobile-is-column, .container.m-is-column {
      flex-direction: column; } }
  @media (min-width: 600px) {
    .container.tablet-is-row, .container.t-is-row {
      flex-direction: row; }
    .container.tablet-is-column, .container.t-is-column {
      flex-direction: column; } }
  @media (min-width: 1200px) {
    .container.desktop-is-row, .container.d-is-row {
      flex-direction: row; }
    .container.desktop-is-column, .container.d-is-column {
      flex-direction: column; } }

@media (min-width: 0) {
  .container.mobile-is-hero, .container.m-is-hero {
    height: 100vh;
    align-items: stretch; }
    .container.mobile-is-hero > .child, .container.mobile-is-hero > .container, .container.m-is-hero > .child, .container.m-is-hero > .container {
      align-self: stretch; }
    .container.mobile-is-hero.mobile-is-column > .child, .container.mobile-is-hero.mobile-is-column > .container, .container.mobile-is-hero.m-is-column > .child, .container.mobile-is-hero.m-is-column > .container, .container.m-is-hero.mobile-is-column > .child, .container.m-is-hero.mobile-is-column > .container, .container.m-is-hero.m-is-column > .child, .container.m-is-hero.m-is-column > .container {
      flex: 1; }
    .container.mobile-is-hero.tablet-is-column > .child, .container.mobile-is-hero.tablet-is-column > .container, .container.mobile-is-hero.t-is-column > .child, .container.mobile-is-hero.t-is-column > .container, .container.m-is-hero.tablet-is-column > .child, .container.m-is-hero.tablet-is-column > .container, .container.m-is-hero.t-is-column > .child, .container.m-is-hero.t-is-column > .container {
      flex: 1; }
    .container.mobile-is-hero.desktop-is-column > .child, .container.mobile-is-hero.desktop-is-column > .container, .container.mobile-is-hero.d-is-column > .child, .container.mobile-is-hero.d-is-column > .container, .container.m-is-hero.desktop-is-column > .child, .container.m-is-hero.desktop-is-column > .container, .container.m-is-hero.d-is-column > .child, .container.m-is-hero.d-is-column > .container {
      flex: 1; }
    .container.mobile-is-hero.big-desktop-is-column > .child, .container.mobile-is-hero.big-desktop-is-column > .container, .container.mobile-is-hero.b-is-column > .child, .container.mobile-is-hero.b-is-column > .container, .container.m-is-hero.big-desktop-is-column > .child, .container.m-is-hero.big-desktop-is-column > .container, .container.m-is-hero.b-is-column > .child, .container.m-is-hero.b-is-column > .container {
      flex: 1; } }
@media (min-width: 600px) {
  .container.tablet-is-hero, .container.t-is-hero {
    height: 100vh;
    align-items: stretch; }
    .container.tablet-is-hero > .child, .container.tablet-is-hero > .container, .container.t-is-hero > .child, .container.t-is-hero > .container {
      align-self: stretch; }
    .container.tablet-is-hero.mobile-is-column > .child, .container.tablet-is-hero.mobile-is-column > .container, .container.tablet-is-hero.m-is-column > .child, .container.tablet-is-hero.m-is-column > .container, .container.t-is-hero.mobile-is-column > .child, .container.t-is-hero.mobile-is-column > .container, .container.t-is-hero.m-is-column > .child, .container.t-is-hero.m-is-column > .container {
      flex: 1; }
    .container.tablet-is-hero.tablet-is-column > .child, .container.tablet-is-hero.tablet-is-column > .container, .container.tablet-is-hero.t-is-column > .child, .container.tablet-is-hero.t-is-column > .container, .container.t-is-hero.tablet-is-column > .child, .container.t-is-hero.tablet-is-column > .container, .container.t-is-hero.t-is-column > .child, .container.t-is-hero.t-is-column > .container {
      flex: 1; }
    .container.tablet-is-hero.desktop-is-column > .child, .container.tablet-is-hero.desktop-is-column > .container, .container.tablet-is-hero.d-is-column > .child, .container.tablet-is-hero.d-is-column > .container, .container.t-is-hero.desktop-is-column > .child, .container.t-is-hero.desktop-is-column > .container, .container.t-is-hero.d-is-column > .child, .container.t-is-hero.d-is-column > .container {
      flex: 1; }
    .container.tablet-is-hero.big-desktop-is-column > .child, .container.tablet-is-hero.big-desktop-is-column > .container, .container.tablet-is-hero.b-is-column > .child, .container.tablet-is-hero.b-is-column > .container, .container.t-is-hero.big-desktop-is-column > .child, .container.t-is-hero.big-desktop-is-column > .container, .container.t-is-hero.b-is-column > .child, .container.t-is-hero.b-is-column > .container {
      flex: 1; } }
@media (min-width: 1200px) {
  .container.desktop-is-hero, .container.d-is-hero {
    height: 100vh;
    align-items: stretch; }
    .container.desktop-is-hero > .child, .container.desktop-is-hero > .container, .container.d-is-hero > .child, .container.d-is-hero > .container {
      align-self: stretch; }
    .container.desktop-is-hero.mobile-is-column > .child, .container.desktop-is-hero.mobile-is-column > .container, .container.desktop-is-hero.m-is-column > .child, .container.desktop-is-hero.m-is-column > .container, .container.d-is-hero.mobile-is-column > .child, .container.d-is-hero.mobile-is-column > .container, .container.d-is-hero.m-is-column > .child, .container.d-is-hero.m-is-column > .container {
      flex: 1; }
    .container.desktop-is-hero.tablet-is-column > .child, .container.desktop-is-hero.tablet-is-column > .container, .container.desktop-is-hero.t-is-column > .child, .container.desktop-is-hero.t-is-column > .container, .container.d-is-hero.tablet-is-column > .child, .container.d-is-hero.tablet-is-column > .container, .container.d-is-hero.t-is-column > .child, .container.d-is-hero.t-is-column > .container {
      flex: 1; }
    .container.desktop-is-hero.desktop-is-column > .child, .container.desktop-is-hero.desktop-is-column > .container, .container.desktop-is-hero.d-is-column > .child, .container.desktop-is-hero.d-is-column > .container, .container.d-is-hero.desktop-is-column > .child, .container.d-is-hero.desktop-is-column > .container, .container.d-is-hero.d-is-column > .child, .container.d-is-hero.d-is-column > .container {
      flex: 1; }
    .container.desktop-is-hero.big-desktop-is-column > .child, .container.desktop-is-hero.big-desktop-is-column > .container, .container.desktop-is-hero.b-is-column > .child, .container.desktop-is-hero.b-is-column > .container, .container.d-is-hero.big-desktop-is-column > .child, .container.d-is-hero.big-desktop-is-column > .container, .container.d-is-hero.b-is-column > .child, .container.d-is-hero.b-is-column > .container {
      flex: 1; } }

/*# sourceMappingURL=kCSS.css.map */
