.container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    &.has-child-left {
        justify-content: flex-start;
    }

    @each $bp, $code in $breakpoints {
        @include for-size(#{$bp}) {
            &.#{$bp}-is-row,
            &.#{$code}-is-row {
                flex-direction: row;
            } 

            &.#{$bp}-is-column,
            &.#{$code}-is-column {
                flex-direction: column;
            } 
        }
    }

    .child {
        @extend %child;
    }
}

%child {
    box-sizing: border-box;
    width: 100%;
}
