.container {
    @each $bp, $code in $breakpoints {
        @include for-size(#{$bp}) {
            &.#{$bp}-is-full,
            &.#{$code}-is-full {
                height: 100%;
                align-items: stretch;
                justify-content: space-between;

                 > .child {
                    align-self: stretch;
                }
            }
        }
    }
}
