<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/kCSS.css">
        <link rel="stylesheet" href="../../css/debug.css">
        <title>Flex</title>
    </head>
    <body>
        <div class="container mobile-is-row mobile-is-hero">
            <div class="child">a</div>
            <div class="child">b</div>
            <div class="child desktop-is-2">c</div>
        </div>
    </body>
</html>
