<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/kCSS.css">
        <link rel="stylesheet" href="../../css/debug.css">
        <title>Flex</title>
    </head>
    <body style="height: 100vh">
        <div class="container mobile-is-row mobile-is-full">
            <div class="child">a</div>
            <div class="child">b</div>
            <div class="child desktop-is-2">
                <div class="container tablet-is-row desktop-is-column desktop-is-full">
                    <div class="child">c1</div>
                    <div class="child">c2</div>
                    <div class="child desktop-is-2">
                        <div class="container mobile-is-row mobile-is-full">
                            <div class="child">c3-1</div>
                            <div class="child">c3-2</div>
                            <div class="child desktop-is-3">c3-3</div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </body>
</html>
