<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/kCSS.css">
        <link rel="stylesheet" href="../../css/debug.css">
        <title>Flex</title>
    </head>
    <body style="height: 100vh;">
        <div class="container main-container mobile-is-full mobile-is-row tablet-is-column desktop-is-row big-screen-is-column">
            <div class="child child-a mobile-is-fixed" style="width: 100px; height: 100px;">a</div>
            <div class="child child-b">b</div>
            <div class="child child-c">
                <div class="container container-child-c mobile-is-full tablet-is-row desktop-is-column big-screen-is-row">
                    <div class="child child-c-1 mobile-is-fixed" style="width: 100px; height: 100px;">c1</div>
                    <div class="child child-c-2">c2</div>
                    <div class="child child-c-3">c3</div>
                </div>
            </div>
        </div>
    </body>
</html>
