<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/kCSS.css">
        <link rel="stylesheet" href="../../css/debug.css">
        <title>Flex</title>
        <style type="text/css" media="screen">
            .child {
                padding: 0;
            }
        </style>
    </head>
    <body style="height: 100vh">
        <div class="container main-container mobile-is-full mobile-is-row tablet-is-column desktop-is-row big-screen-is-column">
            <div class="child child-a">a</div>
            <div class="child child-b">b</div>
            <div class="child child-c mobile-is-2">
                <div class="container container-child-c mobile-is-full tablet-is-row desktop-is-column big-screen-is-row">
                    <div class="child child-c-1">c1</div>
                    <div class="child child-c-2">c2</div>
                    <div class="child child-c-3 mobile-is-2">
                        <div class="container container-child-c-3 mobile-is-full mobile-is-row tablet-is-column desktop-is-row big-screen-is-column">
                            <div class="child child-c-3-1">c3-1</div>
                            <div class="child child-c-3-2">c3-2</div>
                            <div class="child child-c-3-3 mobile-is-2">c3-3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
