<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/kCSS.css">
        <link rel="stylesheet" href="../../css/debug.css">
        <title>Flex</title>
    </head>
    <body style="height: 100vh;">
        <div class="container main-container tablet-is-row desktop-is-column big-screen-is-row mobile-is-full">
            <div class="child child-a">a</div>
            <div class="child child-b">b</div>
            <div class="child child-c">
                <div class="container container-child-c mobile-is-row tablet-is-column desktop-is-row big-screen-is-column mobile-is-full">
                    <div class="child child-c-1">c1</div>
                    <div class="child child-c-2">c2</div>
                </div>
            </div>
        </div>
    </body>
</html>
