<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/kCSS.css">
        <link rel="stylesheet" href="../../css/debug.css">
        <title>Flex</title>
    </head>
    <body>
        <div class="container mobile-is-row mobile-is-hero">
            <div class="child">a</div>
            <div class="child">b</div>
            <div class="child">
                <div class="container tablet-is-row desktop-is-column">
                    <div class="child">c1</div>
                    <div class="child">c2</div>
                </div>    
            </div>
        </div>
    </body>
</html>
